<!DOCTYPE html>
<html lang="en">

<head>
    <title>welcome to my style</title>
    <meta charset=utf-8>
    <meta name="description" content="Moving Boxes Menu with jQuery" />
    <meta name="keywords" content="jquery, boxes, menu, rotating, content, background image, full page" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link type="text/css" href="/static/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
</head>

<body>
    <div id="mb_background" class="mb_background">
        <img class="mb_bgimage" src="/static/images/default.jpg" alt="Background" />
        <div class="mb_overlay"></div>
        <div class="mb_loading"></div>
    </div>
    <div id="mb_pattern" class="mb_pattern"></div>
    <div class="mb_heading">
        <h1>lint的个人站</h1>
    </div>
    <div id="mb_menu" class="mb_menu">
        <a href="#" data-speed="1000" data-easing="easeOutBack">About</a>
        <a href="#" data-speed="1000" data-easing="easeInExpo">Work</a>
        <a href="#" data-speed="1000" data-easing="easeOutBack">小工具(开发中)</a>
        <a href="/tools" data-speed="1000" data-easing="easeOutBack">you may like</a>
        <a href="/tools" data-speed="1000" data-easing="easeOutBack">you may like</a>
    </div>
    <div id="mb_content_wrapper" class="mb_content_wrapper">
        <span class="mb_close"></span>
        <div class="mb_content">
            <h2>About</h2>
            <div class="mb_content_inner">
                <p>未来掌握在自己手里</p>
                <a href="/home">
                    <p><span class="glyphicon glyphicon-hand-right"></span>点击-了解我</p>
                </a>
                 <a href="http://www.cnblogs.com/chase-wind/">
                    <p><span class="glyphicon glyphicon-hand-right"></span>我的博客地址</p>
                </a>
				<a href="https://github.com/taoge2520">
                    <p><span class="glyphicon glyphicon-hand-right"></span>我的github地址</p>
                </a>
            </div>
        </div>
        <div class="mb_content">
            <h2>更换网站背景</h2>
            <div class="mb_content_inner">
                <p>waiting for consummate!</p>
                <ul id="mb_imagelist" class="mb_imagelist">
                    <li><img src="/static/images/small/1.jpg" alt="image1" data-bgimg="/static/images/image1.jpg" /></li>
                    <li><img src="/static/images/small/2.jpg" alt="image2" data-bgimg="/static/images/image2.jpg" /></li>
                    <li><img src="/static/images/small/3.jpg" alt="image3" data-bgimg="/static/images/image3.jpg" /></li>
                    <li><img src="/static/images/small/4.jpg" alt="image4" data-bgimg="/static/images/image4.jpg" /></li>
            
                </ul>
                <!--  <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                <p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
                <p>The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
                <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again.</p> -->
            </div>
        </div>
        <div class="mb_content">
            <h2>待开发</h2>
            <div class="mb_content_inner">
                 <p>之后会在这边放一些比较有意思的东西，有些在构思阶段，有些已经做好了，同时要是在一些其他地方发现了一些比较有意思的东西，也会把传送门放进来</p>
                <p>大半年来一直很忙，没有写东西，也没有提交github代码，之后会坚持写点东西，把遇到的问题，踩过的坑，怎么爬出来的都一一记录下来</p>
                <p>最后送给自己一句话，再忙也要多读书呀</p>
                
            </div>
        </div>
        <div class="mb_content">
            <h2>test</h2>
            <div class="mb_content_inner">
                <a href="/tools">
                    <p><span class="glyphicon glyphicon-hand-right"></span>tools</p>
                </a>
               
            </div>
        </div>
    </div>
    <div class="bottom_footer">
    	<p align="center" >闽ICP备17021483号</p>
    </div>
    <!-- The JavaScript -->
    <script type="text/javascript" src="/static/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <!-- the mousewheel plugin - optional to provide mousewheel support -->
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.transform-0.9.3.min_.js"></script>
    <script type="text/javascript" src="/static/js/jqueryui-1.8.11.jquery-ui.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var $menu = $('#mb_menu'),
            $menuItems = $menu.children('a'),
            $mbWrapper = $('#mb_content_wrapper'),
            $mbClose = $mbWrapper.children('.mb_close'),
            $mbContentItems = $mbWrapper.children('.mb_content'),
            $mbContentInnerItems = $mbContentItems.children('.mb_content_inner');
        $mbPattern = $('#mb_pattern'),
            $works = $('#mb_imagelist > li'),
            $mb_bgimage = $('#mb_background > img'),

            Menu = (function() {

                var init = function() {
                        preloadImages();
                        initPlugins();
                        initPattern();
                        initEventsHandler();
                    },
                    //preloads the images for the work area (data-bgimg attr)
                    preloadImages = function() {
                        $works.each(function(i) {
                            $('<img/>').attr('src', $(this).children('img').data('bgimg'));
                        });
                    },
                    //initialise the jScollPane (scroll plugin)
                    initPlugins = function() {
                        $mbContentInnerItems.jScrollPane({
                            verticalDragMinHeight: 40,
                            verticalDragMaxHeight: 40
                        });
                    },
                    /*
                    	draws 16 boxes on a specific area of the page.
                    	we randomly calculate the top, left, and rotation angle for each one of them
                     */
                    initPattern = function() {
                        for (var i = 0; i < 16; ++i) {
                            //random opacity, top, left and angle
                            var o = 0.1,
                                t = Math.floor(Math.random() * 196) + 5, // between 5 and 200
                                l = Math.floor(Math.random() * 696) + 5, // between 5 and 700
                                a = Math.floor(Math.random() * 101) - 50; // between -50 and 50

                            $el = $('<div>').css({
                                opacity: o,
                                top: t + 'px',
                                left: l + 'px'
                            });

                            if (!$.browser.msie)
                                $el.transform({ 'rotate': a + 'deg' });

                            $el.appendTo($mbPattern);
                        }
                        $mbPattern.children().draggable(); //just for fun
                    },
                    /*
                    	when the User closes a content item, we move the boxes back to the original place,
                    	with new random values for top, left and angle though
                     */
                    disperse = function() {
                        $mbPattern.children().each(function(i) {
                            //random opacity, top, left and angle
                            var o = 0.1,
                                t = Math.floor(Math.random() * 196) + 5, // between 5 and 200
                                l = Math.floor(Math.random() * 696) + 5, // between 5 and 700
                                a = Math.floor(Math.random() * 101) - 50; // between -50 and 50
                            $el = $(this),
                                param = {
                                    width: '50px',
                                    height: '50px',
                                    opacity: o,
                                    top: t + 'px',
                                    left: l + 'px'
                                };

                            if (!$.browser.msie)
                                param.rotate = a + 'deg';

                            $el.animate(param, 1000, 'easeOutExpo');
                        });
                    },
                    initEventsHandler = function() {
                        /*
                        	click a link in the menu
                         */
                        $menuItems.bind('click', function(e) {
                            var $this = $(this),
                                pos = $this.index(),
                                speed = $this.data('speed'),
                                easing = $this.data('easing');
                            //if an item is not yet shown
                            if (!$menu.data('open')) {
                                //if current animating return
                                if ($menu.data('moving')) return false;
                                $menu.data('moving', true);
                                $.when(openItem(pos, speed, easing)).done(function() {
                                    $menu.data({
                                        open: true,
                                        moving: false
                                    });
                                    showContentItem(pos);
                                    $mbPattern.children().fadeOut(500);
                                });
                            } else
                                showContentItem(pos);
                            return false;
                        });

                        /*
                        	click close makes the boxes animate to the top of the page
                         */
                        $mbClose.bind('click', function(e) {
                            $menu.data('open', false);
                            /*
                            	if we would want to show the default image when we close:
                            	changeBGImage('images/default.jpg');
                             */
                            $mbPattern.children().fadeIn(500, function() {
                                $mbContentItems.hide();
                                $mbWrapper.hide();
                            });

                            disperse();
                            return false;
                        });

                        /*
                        	click an image from "Works" content item,
                        	displays the image on the background
                         */
                        $works.bind('click', function(e) {
                            var source = $(this).children('img').data('bgimg');
                            changeBGImage(source);
                            return false;
                        });

                    },
                    /*
                    	changes the background image
                     */
                    changeBGImage = function(img) {
                        //if its the current one return
                        if ($mb_bgimage.attr('src') === img || $mb_bgimage.siblings('img').length > 0)
                            return false;

                        var $itemImage = $('<img src="' + img + '" alt="Background" class="mb_bgimage" style="display:none;"/>');
                        $itemImage.insertBefore($mb_bgimage);

                        $mb_bgimage.fadeOut(1000, function() {
                            $(this).remove();
                            $mb_bgimage = $itemImage;
                        });
                        $itemImage.fadeIn(1000);
                    },
                    /*
                    	This shows a content item when there is already one shown:
                     */
                    showContentItem = function(pos) {
                        $mbContentItems.hide();
                        $mbWrapper.show();
                        $mbContentItems.eq(pos).show().children('.mb_content_inner').jScrollPane();
                    },
                    /*
                    	moves the boxes from the top to the center of the page,
                    	and shows the respective content item
                     */
                    openItem = function(pos, speed, easing) {
                        return $.Deferred(
                            function(dfd) {
                                $mbPattern.children().each(function(i) {
                                    var $el = $(this),
                                        param = {
                                            width: '100px',
                                            height: '100px',
                                            top: 154 + 100 * Math.floor(i / 4),
                                            left: 200 + 100 * (i % 4),
                                            opacity: 1
                                        };

                                    if (!$.browser.msie)
                                        param.rotate = '0deg';

                                    $el.animate(param, speed, easing, dfd.resolve);
                                });
                            }
                        ).promise();
                    };

                return {
                    init: init
                };

            })();

        /*
        	call the init method of Menu
         */
        Menu.init();
    });
    </script>
	
</body>

</html>